<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <header>
      <table>
        <tr>
          <td>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
              <g fill="none" transform="translate(.083 .994)">
                <ellipse cx="29.831" cy="21.134" fill="#1399CF" rx="2.602" ry="3.986" transform="rotate(-6.212 29.83 21.134)"/>
                <path fill="#1399CF" d="M27.396 28.693c5.262-3.31 11.284 1.36 10.493 4.928-.85 3.823-4.085 1.763-6.505 2.758-1.487.61-3.758 4.042-6.373 1.946-2.281-1.829-1.049-7.473 2.385-9.632"/>
                <ellipse cx="23.711" cy="23.992" fill="#1399CF" rx="2.883" ry="3.884" transform="rotate(-30 23.71 23.992)"/>
                <ellipse cx="19.581" cy="29.846" fill="#1399CF" rx="2.715" ry="3.846" transform="rotate(-35.353 19.58 29.846)"/>
                <ellipse cx="36.242" cy="22.411" fill="#1399CF" rx="2.589" ry="3.704" transform="rotate(-3.533 36.242 22.41)"/>
                <ellipse cx="15.703" cy="4.089" fill="#FF9124" rx="2.683" ry="3.939" transform="rotate(-3.438 15.703 4.088)"/>
                <ellipse cx="21.791" cy="6.479" fill="#FF9124" rx="3.755" ry="2.687" transform="rotate(-83.131 21.79 6.48)"/>
                <ellipse cx="9.337" cy="5.397" fill="#FF9124" rx="2.747" ry="4.183" transform="rotate(-13.239 9.337 5.397)"/>
                <path fill="#FF9124" d="M13.15 10.336c3.762-1.108 9.007 2.178 8.408 5.927-.565 3.529-4.925 1.99-6.694 2.73-2.306.963-5.196 3.803-6.84.963-1.853-3.208 1.825-8.644 5.127-9.62"/>
                <ellipse cx="4.357" cy="10.539" fill="#FF9124" rx="2.775" ry="3.792" transform="rotate(-30 4.357 10.54)"/>
              </g>
            </svg>
          </td>
          <td style="color: #454545; font: Open Sans; font-size: 14px;">
            <span>Our.Zoo</span><br/>
            <span style="font-size: 10px;">корпоративный портал</span>
          </td>
        </tr>
      </table>
      <svg
        width="200"
        height="1"
        viewBox="0 0 200 1"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line y1="0.5" x2="200" y2="0.5" stroke="#DFDFDF"/>
      </svg>
  </header>
