<footer>
  <table style="margin:0; margin-top: 20px; padding:0; border:0;"
  >
    <tr>
      <td
        style="color: #454545; font: 11px Open Sans, sans-serif; line-height: 30px;"
      >
        <span>
          <svg
            width="200"
            height="1"
            viewBox="0 0 200 1"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line y1="0.5" x2="200" y2="0.5" stroke="#DFDFDF"/>
          </svg>
          <br/>
          Данное сообщение сформировано автоматически, пожалуйста, не
          отвечайте на него.
        </span>
      </td>
    </tr>
  </table>
</footer>
</body>
</html>
